/elpa/
/elfeed_db_2.6.1/
/emacs-nerd-fonts/
/auto-save-list/
/backup/
/.cache/
/eshell/
/.emacs.desktop
/.mc-lists.el
/.sx/
/bookmarks
/ivy-views.el
/network-security.data
/org-clock-save.el
/places
/projectile-bookmarks.eld
/recentf
/savehist
/smex-items
/tramp
/transient/
/url/
/straight/build/eldoc/
/eln-cache/
/elisp-objects/
/projects
/tree-sitter/
